<h1 class="page-header">Interview Feeds</h1>

<div class="container">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
              
            <div class="show-hide-message">
                <div [ngClass]="messageClass">
                           {{message}}
                </div>
            </div>


            <button class="btn btn-warning mr-1" *ngIf="!newPost" (click)="addNewPost()">Add new </button>
            <button class="btn btn-info ml-1" *ngIf="!newPost" [disabled]="reloading" (click)="reloadPost()"><i class="fa fa-refresh" aria-hidden="true" ></i>
            &nbsp;&nbsp;Reload</button>

<br>
<br>


                 <!-- New interview form-->
                


                <form [formGroup]="form" (submit)="onSubmitForm()" *ngIf="newPost">

                                     <!-- Title input -->

                    <div class="form-group">
                        <label for="NameDemo">Title:</label>
                
                        <input  type="text" class="form-control" name="title" formControlName="title" aria-describedby="nameHelp" placeholder="Enter title">
                       
                        <div *ngIf="f.title.touched && (f.title.invalid)" class="alert alert-danger mt-1">

                        <div *ngIf="f.title.errors.required">title is required.</div>


                        <div *ngIf="f.title.errors.maxlength">title should be less than 60 characters.</div>
                        
                        <div *ngIf="f.title.errors.minlength">Please, title should be atleast 3 characters.</div>
            
                    </div>
                     <small *ngIf="titleMessage">{{this.dataObtained.message}}</small> 
                    </div>
                    

                                       <!-- Body input -->

                    <div class="form-group">
                        <label for="NameDemo">Body:</label>
                           
                        <angular-editor style="margin-bottom: 150px;" id="body" [config]="editorConfig" class="form-control " name="body" formControlName="body" aria-describedby="nameHelp" [placeholder]></angular-editor>
                       
                        <div *ngIf="f.body.touched && (f.body.invalid)" class="alert alert-danger mt-1">

                        <div *ngIf="f.body.errors.required">body is required.</div>


                        <div *ngIf="f.body.errors.maxlength">body should be less than 1000 characters.</div>
                        
                        <div *ngIf="f.body.errors.minlength">Please, body should be atleast 20 characters.</div>
            
                    </div>
                     <small *ngIf="bodyMessage">{{this.dataObtained.message}}</small> 
                                          
                    </div>
            
                   <button [disabled]="processing" (click)="goBack()" class="btn btn-secondary mr-1 mt-5">Go back</button>
                   <button [disabled]="!form.valid || (processing)"  class="btn btn-success mt-5">submit</button>

                </form>


                <!-- New interview form-->

            <div *ngIf="!newPost">
                  <div class="card shadow border-2 border-secondary mt-5" *ngFor="let interview of this.interviews">

                    <div class="card-heading bg-secondary">
                         <h3 class="card-title pl-3 pt-2 text-white">{{this.interview.title}}</h3>
                    </div>

                    <div class="card-body" innerHTML={{this.interview.body}}>
                        
                    </div>

                                     <!-- FOOTER STARTS HERE -->

                    <div class="card-footer">
                        <p>
                            <strong>Posted by: {{this.interview.createdBy}} </strong>
                        </p>

                        <p>
                            <strong>Date:{{this.interview.createdAt | date: 'MMM dd, yyyy'}}  </strong>
                          
                        </p>
                        <div *ngIf="this.userProfile.user.username !== this.interview.createdBy">
                            <p><strong>Likes:  {{this.interview.likes}} </strong></p>
                        </div>
                        <a [routerLink]= "['/edit-interview/', interview._id]"  *ngIf="this.userProfile.user.username === this.interview.createdBy" class="btn btn-primary mr-1">Edit</a>
                        
                        <a [routerLink]= "['/delete-interview/', interview._id]" *ngIf="this.userProfile.user.username === this.interview.createdBy" class="btn btn-danger mr-1">Delete</a>


                             <!-- LIKES DROPDOWN -->
                        <div class="dropdown">
                            <button [disabled]="interview.likedBy.indexOf(username) || (this.userProfile.user.username !== this.interview.createdBy)" class="btn btn-success mr-1"  (click)="likeInterview(interview._id)">
                                <i class="fa fa-heart" aria-hidden="true"></i>&nbsp; Like
                            </button>
                            <div class="dropdown-content">
                                <a *ngFor="let liker of interview.likedBy" [routerLink]="['/public-profile/', liker]">{{liker}}</a>
                               
                            </div>
                        </div>


                              <!-- DISLIKES DROPDOWN -->
                              <!--  <div class="dropdown">
                                <button class="btn btn-warning">
                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>&nbsp; Dislikes:
                                </button>
                                <div class="dropdown-content">
                                    <a href="">doe</a>
                                    <a href="">jin</a>
                                    <a href="">jean</a>
                                </div>
                            </div> -->
                       
                    </div>
                  

                 <!-- FOOTER ENDS HERE -->
                 <ul class="list-group">
                     <li class="list-group-item">
                         <button class="btn btn-sm btn-danger" (click)="draftComment(interview._id)" [disabled]="newComment.indexOf(interview._id) > -1">
                             post comment
                         </button>
                         <br>
                         <br>
                         <div *ngIf="newComment.indexOf(interview._id) > -1">
                         <form class="mt-2" [formGroup]="commentForm">

                             <textarea class="form-control" name="comment" formControlName="comment" id="" cols="90" rows="4"></textarea> <br>
                             <div *ngIf="g.comment.touched && (g.comment.invalid)" class="alert alert-danger mt-1">

                                <div *ngIf="g.comment.errors.required">comment is can not be empty.</div>
        
        
                                <div *ngIf="g.comment.errors.maxlength">comment should be less than 200 characters.</div>
                                
                                <div *ngIf="g.comment.errors.minlength">Please, comment should be atleast 1 character.</div>
                    
                            </div>
                            
                             <button class="btn btn-sm btn-info mr-1" [disabled]="!commentForm.valid || processing" (click)="postComment(interview._id)">save</button>
                             <button class="btn btn-sm btn-danger" [disabled]="processing" (click)="cancelSubmit(interview._id)">cancel</button>

                         </form>
                        </div>
                                
                            <div *ngIf="enableComments.indexOf(interview._id) === -1 && interview.comments.length > 0">
                                
                                <span (click)="expand(interview._id)">show comments</span>

                            </div>
                            <div *ngIf="enableComments.indexOf(interview._id) > -1">
                                
                                <span (click)="collapse(interview._id)">hide comments</span>

                            </div>
                            <div *ngIf="enableComments.indexOf(interview._id) > -1">
                                 <div *ngFor="let comment of interview.comments">
                                     <strong>{{ comment.commentator }}: </strong>{{comment.comment}}
                                 </div>
                            </div>
                     </li>
                 </ul>
                </div>
            </div>





        </div>



        <div class="col-2">

        </div>
    </div>
</div>



