<nav class="navbar navbar-expand-lg navbar-light head__custom-nav">
          
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="../../assets/img/orientudeLogo.png">
      <span>Orientude</span>
    </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" >
      <span><img src="../../assets/img/toggler.png">
      </span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link"  [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true} ">Home</a>
          </li>
          <li *ngIf="authService.loggedIn() == true" class="nav-item active" >
            <a class="nav-link" routerLink='/profile'>Profile</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Contact us</a>
          </li>
          <li class="shadow nav-item active" *ngIf="authService.loggedIn() == false">
            <a class="btn  btn-lg"  [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{exact:true}" routerLink='/register'>Sign Up</a>
          </li>
          <li class="shadow nav-item active">
            <a class="btn  btn-lg ml-2"  [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{exact:true}" routerLink='/login' *ngIf="authService.loggedIn() == false"><i class="fa fa-user-circle"></i></a>
          </li>

          <li class="shadow nav-item active" *ngIf="authService.loggedIn() == true">
            <a class="btn  btn-lg ml-2" (click)="Onlogout()"><i class="fa fa-sign-out"></i></a>
          </li>
        </ul>
      </div>
  </nav>

  
  
  

  

