<!-- Propeller Card -->
<div class="card pmd-card" style="width: 22.5rem;">
	
    <!-- Card Header -->
    <div class="card-header d-flex flex-row">
        <a class="pmd-avatar-list-img" href="javascript:void(0);">
        	<img src="http://propeller.in/components/list/img/40x40.png" width="40" height="40">
        </a>
        <div class="media-body">
            <h3 class="card-title">Adam smith</h3>
            <p class="card-subtitle">Economist</p>
        </div>
    </div>
    
    <!-- Card Media -->
    <div class="pmd-card-media">
    	<img src="http://propeller.in/assets/images/profile-pic.png" width="1184" height="666" class="img-fluid">
    </div>
    
    <!-- Card Body -->
    <div class="card-body">
        <h2 class="card-title">What is it like being an economist</h2>
        <p class="card-subtitle mb-3">19/03/22</p>
        <p class="card-text">Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.</p>
    </div>
    
    <!-- Card Actions -->
    <div class="card-footer">
        <button class="btn btn-primary  mr-1"><mat-icon> add </mat-icon></button>
        <button class="btn btn-primary mr-1" type="button"><mat-icon> favorite </mat-icon></button>
    </div>
</div>