<div class="main">
    <div class="side-menu">
        <div class="brand-name">
            <h1>Manage</h1>
        </div>
        <ul>
            <li>🎤 <span>Interviews</span> </li>
            <li>🙋‍♂️<span>Users</span></li>
            <li>🔔<span>Notices</span> </li>
            <li>🕖<span>Events</span></li>
            <li>🤖<span>Settings</span></li>
    
        </ul>
    </div>


<!--   big section -->
   <div class="container">
         <div class="header">
               <div class="nav">
                      <div class="search">
                            <input type="text" placeholder="Search...">
                            <button type="submit">🔍</button>
                      </div>
                      <div class="user">
                          
                          <div class="img-case ml-5 mr-5">
                               <img src="../../../assets/img/userphoto.jpg" alt="" srcset="">
                          </div>
                      </div>
               </div>
            </div>

               <div class="content">
                   <div class="cards">
                       <div class="card">
                           <div class="box">
                               <h1>4785</h1>
                               <h3>Users</h3>
                           </div>
                           <div class="icon-case">
                                <img src="" alt="">
                           </div>
                       </div>

                       <div class="card">
                        <div class="box">
                            <h1>355</h1>
                            <h3>Interviews</h3>
                        </div>
                        <div class="icon-case">
                           <img src="" alt="">
                        </div>
                    </div>

                    <div class="card">
                        <div class="box">
                            <h1>287</h1>
                            <h3>Notice</h3>
                        </div>
                        <div class="icon-case" style="color: black;">
                             <img src="" alt="">
                        </div>
                    </div>




                   </div>

                   <div class="content-2">
                       <div class="recent">
                           <div class="title">
                               <h2>List of users</h2>
                               <div class="search2">
                                <input type="text" placeholder="Find a user...">
                                <button type="submit">🔍</button>
                               </div>
                               <a href="" class="btn btn-primary p-1"> View All 🔵 </a>
                               
                           </div>
                           <table>
                               <tr>
                                   <th>Name</th>
                                   <th>Email</th>
                                   <th>Account type</th>
                                   <th>Days active</th>
                                   <th>Actions</th>
                               </tr>
                               <tr>
                                   <td>Eric</td>
                                   <td>eric@outlook.com</td>
                                   <td>Recruter</td>
                                   <td>44 days</td>
                                    <td> <a href="#" class="btn btn-success p-1">View Profile 🕵</a></td>
                                   
                               </tr>
                               <tr>
                                <td>Eric</td>
                                <td>eric@outlook.com</td>
                                <td>Recruter</td>
                                <td>44 days</td>
                                 <td> <a href="#" class="btn btn-success p-1">View Profile 🕵</a></td>
                                
                            </tr>
                           </table>

                       </div>

                        <div class="usersbox">
                            <div class="title">
                                <h2>Service</h2>
                                <a href="" class="btn btn-success">Add New</a>
                            </div>

                            <table>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                  
                                    <th>Actions</th>
                                </tr>
                            </table>

                        </div>

                       

                   </div>
               </div>
         
   </div>














</div>