<div class="container pt-5">
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">

           <div class="show-hide-message">
               <div [ngClass]="messageClass">
                          {{message}}
               </div>
           </div>


           <form [formGroup]="form" (submit)="onSubmitForm()">
           
           <div class="form-group">
           
               <label for="NameDemo">Your Username:</label>
           
               <input  type="text" class="form-control" name="username" formControlName="username" aria-describedby="nameHelp" placeholder="Enter username">
           
           
               
           </div>
           
        
           
           <div class="form-group">
           
               <label for="passDemo">Enter Password:</label>
           
               <input type="password" class="form-control" name="password" formControlName="password" aria-describedby="passHelp" placeholder="Password">
           
            <!--    <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger mt-1">

                   <div *ngIf="f.password.errors.required">Password is required.</div>

                   <div *ngIf="f.password.errors.minlength">Password should be atleast 6 characters</div>
                  
                   <div *ngIf="f.password.errors.maxlength">Username should be less than 15 characters.</div>

                   <div *ngIf="f.password.errors.pattern">Password should be atleast 6 characters and should contain atleast one capital letter, on number and a special character  characters.</div>

                   

               </div>  -->               
           </div>


          
           
           

           
           <button type="submit"  [disabled]="processing" class="btn btn-success mt-5">Login</button>
           
           </form>

       </div>
           <div class="col-md-2"></div>
  </div>
</div>


